In [10]:
import pandas as pd
import os

In [11]:
def read_csv_safe(filepath):
    try:
        return pd.read_csv(
            filepath,
            engine="python",
            encoding="utf-8",
            on_bad_lines="skip"
        )
    except UnicodeDecodeError:
        return pd.read_csv(
            filepath,
            engine="python",
            encoding="latin1",
            on_bad_lines="skip"
        )

In [12]:
part_paths = {
    "Part2": "Data Part 2",
    "Part4": "Data Part 4",
    "Part5": "Data Part 5",
    "Part6": "Data Part 6"
}

In [13]:
files_per_part = {}

for part, path in part_paths.items():
    files = sorted([
        os.path.join(path, f)
        for f in os.listdir(path)
        if f.endswith(".csv")
    ])
    files_per_part[part] = files
    print(f"{part}: {len(files)} file")

Part2: 10 file
Part4: 10 file
Part5: 10 file
Part6: 10 file

In [14]:
data_per_part = {}

for part, files in files_per_part.items():
    print(f"\n================ {part} ================\n")
    data_per_part[part] = {}

    for file in files:
        filename = os.path.basename(file)
        print(f"ðŸ“„ Membaca: {filename}")

        df = read_csv_safe(file)
        data_per_part[part][filename] = df

        print("Shape:", df.shape)

        print("\nINFO:")
        df.info()

        print("\nNA COUNT:")
        print(df.isna().sum())
        print("-" * 50)

================ Part2 ================

ðŸ“„ Membaca: Output_PC10_Part2.csv
Shape: (17936, 15)

INFO:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17936 entries, 0 to 17935
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   idsbr              17936 non-null  int64
 1   Query              17936 non-null  object
 2   Actual Place Name  17936 non-null  object
 3   Category           17701 non-null  object
 4   Rating             17701 non-null  object
 5   Address            17911 non-null  object
 6   Phone Number       17911 non-null  object
 7   Website            17911 non-null  object
 8   Latitude           17911 non-null  object
 9   Longitude          17911 non-null  object
 10  Status             17936 non-null  object
 11  Open Status        17701 non-null  object
 12  Operation Hours    17701 non-null  object
 13  Place              17911 non-null  object
 14  Validasi           17936 non-null  object
dtypes: int64(1), object(14)
memory usage: 2.1+ MB

NA COUNT:
idsbr                  0
Query                  0
Actual Place Name      0
Category             235
Rating               235
Address               25
Phone Number          25
Website               25
Latitude              25
Longitude             25
Status                 0
Open Status          235
Operation Hours      235
Place                 25
Validasi               0
dtype: int64
--------------------------------------------------
ðŸ“„ Membaca: Output_PC1_Part2.csv
Shape: (19476, 15)

INFO:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19476 entries, 0 to 19475
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   idsbr              19476 non-null  int64
 1   Query              19476 non-null  object
 2   Actual Place Name  19476 non-null  object
 3   Category           19223 non-null  object
 4   Rating             19223 non-null  object
 5   Address            19476 non-null  object
 6   Phone Number       19476 non-null  object
 7   Website            19476 non-null  object
 8   Latitude           19476 non-null  object
 9   Longitude          19476 non-null  object
 10  Status             19476 non-null  object
 11  Open Status        19223 non-null  object
 12  Operation Hours    19223 non-null  object
 13  Place              19476 non-null  object
 14  Validasi           19476 non-null  object
dtypes: int64(1), object(14)
memory usage: 2.2+ MB

NA COUNT:
idsbr                  0
Query                  0
Actual Place Name      0
Category             253
Rating               253
Address                0
Phone Number           0
Website                0
Latitude               0
Longitude              0
Status                 0
Open Status          253
Operation Hours      253
Place                  0
Validasi               0
dtype: int64
--------------------------------------------------
ðŸ“„ Membaca: Output_PC2_Part2.csv
Shape: (18585, 15)

INFO:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18585 entries, 0 to 18584
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   idsbr              18585 non-null  int64
 1   Query              18585 non-null  object
 2   Actual Place Name  18585 non-null  object
 3   Category           18269 non-null  object
 4   Rating             18269 non-null  object
 5   Address            18585 non-null  object
 6   Phone Number       18585 non-null  object
 7   Website            18585 non-null  object
 8   Latitude           18585 non-null  object
 9   Longitude          18585 non-null  object
 10  Status             18585 non-null  object
 11  Open Status        18269 non-null  object
 12  Operation Hours    18269 non-null  object
 13  Place              18585 non-null  object
 14  Validasi           18585 non-null  object
dtypes: int64(1), object(14)
memory usage: 2.1+ MB

NA COUNT:
idsbr                  0
Query                  0
Actual Place Name      0
Category             316
Rating               316
Address                0
Phone Number           0
Website                0
Latitude               0
Longitude              0
Status                 0
Open Status          316
Operation Hours      316
Place                  0
Validasi               0
dtype: int64
--------------------------------------------------
ðŸ“„ Membaca: Output_PC3_Part2.csv
Shape: (18025, 15)

INFO:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18025 entries, 0 to 18024
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   idsbr              18025 non-null  int64
 1   Query              18025 non-null  object
 2   Actual Place Name  18025 non-null  object
 3   Category           17803 non-null  object
 4   Rating             17803 non-null  object
 5   Address            18025 non-null  object
 6   Phone Number       18025 non-null  object
 7   Website            18025 non-null  object
 8   Latitude           18025 non-null  object
 9   Longitude          18025 non-null  object
 10  Status             18025 non-null  object
 11  Open Status        17803 non-null  object
 12  Operation Hours    17803 non-null  object
 13  Place              18025 non-null  object
 14  Validasi           18025 non-null  object
dtypes: int64(1), object(14)
memory usage: 2.1+ MB

NA COUNT:
idsbr                  0
Query                  0
Actual Place Name      0
Category             222
Rating               222
Address                0
Phone Number           0
Website                0
Latitude               0
Longitude              0
Status                 0
Open Status          222
Operation Hours      222
Place                  0
Validasi               0
dtype: int64
--------------------------------------------------
ðŸ“„ Membaca: Output_PC4_Part2.csv
Shape: (16463, 15)

INFO:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16463 entries, 0 to 16462
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   idsbr              16463 non-null  int64
 1   Query              16463 non-null  object
 2   Actual Place Name  16463 non-null  object
 3   Category           15979 non-null  object
 4   Rating             15979 non-null  object
 5   Address            16254 non-null  object
 6   Phone Number       16254 non-null  object
 7   Website            16254 non-null  object
 8   Latitude           16254 non-null  object
 9   Longitude          16254 non-null  object
 10  Status             16463 non-null  object
 11  Open Status        15979 non-null  object
 12  Operation Hours    15979 non-null  object
 13  Place              16254 non-null  object
 14  Validasi           16463 non-null  object
dtypes: int64(1), object(14)
memory usage: 1.9+ MB

NA COUNT:
idsbr                  0
Query                  0
Actual Place Name      0
Category             484
Rating               484
Address              209
Phone Number         209
Website              209
Latitude             209
Longitude            209
Status                 0
Open Status          484
Operation Hours      484
Place                209
Validasi               0
dtype: int64
--------------------------------------------------
ðŸ“„ Membaca: Output_PC5_Part2.csv
Shape: (17858, 15)

INFO:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17858 entries, 0 to 17857
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   idsbr              17858 non-null  int64
 1   Query              17858 non-null  object
 2   Actual Place Name  17858 non-null  object
 3   Category           17628 non-null  object
 4   Rating             17628 non-null  object
 5   Address            17858 non-null  object
 6   Phone Number       17858 non-null  object
 7   Website            17858 non-null  object
 8   Latitude           17858 non-null  object
 9   Longitude          17858 non-null  object
 10  Status             17858 non-null  object
 11  Open Status        17628 non-null  object
 12  Operation Hours    17628 non-null  object
 13  Place              17858 non-null  object
 14  Validasi           17858 non-null  object
dtypes: int64(1), object(14)
memory usage: 2.0+ MB

NA COUNT:
idsbr                  0
Query                  0
Actual Place Name      0
Category             230
Rating               230
Address                0
Phone Number           0
Website                0
Latitude               0
Longitude              0
Status                 0
Open Status          230
Operation Hours      230
Place                  0
Validasi               0
dtype: int64
--------------------------------------------------
ðŸ“„ Membaca: Output_PC6_Part2.csv
Shape: (18150, 15)

INFO:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18150 entries, 0 to 18149
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   idsbr              18150 non-null  int64
 1   Query              18150 non-null  object
 2   Actual Place Name  18150 non-null  object
 3   Category           17920 non-null  object
 4   Rating             17920 non-null  object
 5   Address            18150 non-null  object
 6   Phone Number       18150 non-null  object
 7   Website            18150 non-null  object
 8   Latitude           18150 non-null  object
 9   Longitude          18150 non-null  object
 10  Status             18150 non-null  object
 11  Open Status        17920 non-null  object
 12  Operation Hours    17920 non-null  object
 13  Place              18150 non-null  object
 14  Validasi           18150 non-null  object
dtypes: int64(1), object(14)
memory usage: 2.1+ MB

NA COUNT:
idsbr                  0
Query                  0
Actual Place Name      0
Category             230
Rating               230
Address                0
Phone Number           0
Website                0
Latitude               0
Longitude              0
Status                 0
Open Status          230
Operation Hours      230
Place                  0
Validasi               0
dtype: int64
--------------------------------------------------
ðŸ“„ Membaca: Output_PC7_Part2.csv
Shape: (17702, 15)

INFO:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17702 entries, 0 to 17701
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   idsbr              17702 non-null  int64
 1   Query              17702 non-null  object
 2   Actual Place Name  17702 non-null  object
 3   Category           17428 non-null  object
 4   Rating             17428 non-null  object
 5   Address            17702 non-null  object
 6   Phone Number       17701 non-null  object
 7   Website            17701 non-null  object
 8   Latitude           17701 non-null  object
 9   Longitude          17701 non-null  object
 10  Status             17701 non-null  object
 11  Open Status        17427 non-null  object
 12  Operation Hours    17427 non-null  object
 13  Place              17701 non-null  object
 14  Validasi           17701 non-null  object
dtypes: int64(1), object(14)
memory usage: 2.0+ MB

NA COUNT:
idsbr                  0
Query                  0
Actual Place Name      0
Category             274
Rating               274
Address                0
Phone Number           1
Website                1
Latitude               1
Longitude              1
Status                 1
Open Status          275
Operation Hours      275
Place                  1
Validasi               1
dtype: int64
--------------------------------------------------
ðŸ“„ Membaca: Output_PC8_Part2.csv
Shape: (17808, 15)

INFO:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17808 entries, 0 to 17807
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   idsbr              17808 non-null  int64
 1   Query              17808 non-null  object
 2   Actual Place Name  17808 non-null  object
 3   Category           17575 non-null  object
 4   Rating             17575 non-null  object
 5   Address            17808 non-null  object
 6   Phone Number       17808 non-null  object
 7   Website            17808 non-null  object
 8   Latitude           17808 non-null  object
 9   Longitude          17808 non-null  object
 10  Status             17808 non-null  object
 11  Open Status        17575 non-null  object
 12  Operation Hours    17575 non-null  object
 13  Place              17808 non-null  object
 14  Validasi           17808 non-null  object
dtypes: int64(1), object(14)
memory usage: 2.0+ MB

NA COUNT:
idsbr                  0
Query                  0
Actual Place Name      0
Category             233
Rating               233
Address                0
Phone Number           0
Website                0
Latitude               0
Longitude              0
Status                 0
Open Status          233
Operation Hours      233
Place                  0
Validasi               0
dtype: int64
--------------------------------------------------
ðŸ“„ Membaca: Output_PC9_Part2.csv
Shape: (18107, 15)

INFO:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18107 entries, 0 to 18106
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   idsbr              18107 non-null  int64
 1   Query              18107 non-null  object
 2   Actual Place Name  18107 non-null  object
 3   Category           17757 non-null  object
 4   Rating             17757 non-null  object
 5   Address            18107 non-null  object
 6   Phone Number       18107 non-null  object
 7   Website            18107 non-null  object
 8   Latitude           18107 non-null  object
 9   Longitude          18107 non-null  object
 10  Status             18107 non-null  object
 11  Open Status        17757 non-null  object
 12  Operation Hours    17757 non-null  object
 13  Place              18107 non-null  object
 14  Validasi           18107 non-null  object
dtypes: int64(1), object(14)
memory usage: 2.1+ MB

NA COUNT:
idsbr                  0
Query                  0
Actual Place Name      0
Category             350
Rating               350
Address                0
Phone Number           0
Website                0
Latitude               0
Longitude              0
Status                 0
Open Status          350
Operation Hours      350
Place                  0
Validasi               0
dtype: int64
--------------------------------------------------

================ Part4 ================

ðŸ“„ Membaca: Output_PC10_Part4.csv
Shape: (16429, 15)

INFO:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16429 entries, 0 to 16428
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   idsbr              16429 non-null  int64
 1   Query              16429 non-null  object
 2   Actual Place Name  16429 non-null  object
 3   Category           16334 non-null  object
 4   Rating             16334 non-null  object
 5   Address            16429 non-null  object
 6   Phone Number       16429 non-null  object
 7   Website            16429 non-null  object
 8   Latitude           16429 non-null  object
 9   Longitude          16429 non-null  object
 10  Status             16429 non-null  object
 11  Open Status        16334 non-null  object
 12  Operation Hours    16334 non-null  object
 13  Place              16429 non-null  object
 14  Validasi           16429 non-null  object
dtypes: int64(1), object(14)
memory usage: 1.9+ MB

NA COUNT:
idsbr                 0
Query                 0
Actual Place Name     0
Category             95
Rating               95
Address               0
Phone Number          0
Website               0
Latitude              0
Longitude             0
Status                0
Open Status          95
Operation Hours      95
Place                 0
Validasi              0
dtype: int64
--------------------------------------------------
ðŸ“„ Membaca: Output_PC1_Part4.csv
Shape: (13500, 15)

INFO:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13500 entries, 0 to 13499
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   idsbr              13500 non-null  int64
 1   Query              13500 non-null  object
 2   Actual Place Name  13500 non-null  object
 3   Category           13153 non-null  object
 4   Rating             13153 non-null  object
 5   Address            13500 non-null  object
 6   Phone Number       13500 non-null  object
 7   Website            13500 non-null  object
 8   Latitude           13500 non-null  object
 9   Longitude          13500 non-null  object
 10  Status             13500 non-null  object
 11  Open Status        13153 non-null  object
 12  Operation Hours    13153 non-null  object
 13  Place              13500 non-null  object
 14  Validasi           13500 non-null  object
dtypes: int64(1), object(14)
memory usage: 1.5+ MB

NA COUNT:
idsbr                  0
Query                  0
Actual Place Name      0
Category             347
Rating               347
Address                0
Phone Number           0
Website                0
Latitude               0
Longitude              0
Status                 0
Open Status          347
Operation Hours      347
Place                  0
Validasi               0
dtype: int64
--------------------------------------------------
ðŸ“„ Membaca: Output_PC2_Part4.csv
Shape: (18286, 15)

INFO:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18286 entries, 0 to 18285
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   idsbr              18286 non-null  int64
 1   Query              18286 non-null  object
 2   Actual Place Name  18286 non-null  object
 3   Category           18002 non-null  object
 4   Rating             18002 non-null  object
 5   Address            18286 non-null  object
 6   Phone Number       18286 non-null  object
 7   Website            18286 non-null  object
 8   Latitude           18286 non-null  object
 9   Longitude          18286 non-null  object
 10  Status             18286 non-null  object
 11  Open Status        18002 non-null  object
 12  Operation Hours    18002 non-null  object
 13  Place              18286 non-null  object
 14  Validasi           18286 non-null  object
dtypes: int64(1), object(14)
memory usage: 2.1+ MB

NA COUNT:
idsbr                  0
Query                  0
Actual Place Name      0
Category             284
Rating               284
Address                0
Phone Number           0
Website                0
Latitude               0
Longitude              0
Status                 0
Open Status          284
Operation Hours      284
Place                  0
Validasi               0
dtype: int64
--------------------------------------------------
ðŸ“„ Membaca: Output_PC3_Part4.csv
Shape: (13660, 15)

INFO:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13660 entries, 0 to 13659
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   idsbr              13660 non-null  int64
 1   Query              13660 non-null  object
 2   Actual Place Name  13660 non-null  object
 3   Category           13292 non-null  object
 4   Rating             13292 non-null  object
 5   Address            13658 non-null  object
 6   Phone Number       13660 non-null  object
 7   Website            13660 non-null  object
 8   Latitude           13660 non-null  object
 9   Longitude          13660 non-null  object
 10  Status             13660 non-null  object
 11  Open Status        13292 non-null  object

In [15]:
for part, dfs in data_per_part.items():
    col_structures = {name: tuple(df.columns) for name, df in dfs.items()}
    is_consistent = len(set(col_structures.values())) == 1

    print(f"{part} kolom konsisten:", is_consistent)

Part2 kolom konsisten: True
Part4 kolom konsisten: True
Part5 kolom konsisten: True
Part6 kolom konsisten: True

In [16]:
concat_results = {}

for part, dfs in data_per_part.items():
    concat_df = pd.concat(
        dfs.values(),
        ignore_index=True
    )
    concat_results[part] = concat_df

    print(f"{part} final shape:", concat_df.shape)

Part2 final shape: (180110, 15)
Part4 final shape: (139202, 15)
Part5 final shape: (201064, 15)
Part6 final shape: (713906, 15)

In [17]:
for part, df in concat_results.items():
    output_name = f"Output_{part}.csv"
    df.to_csv(output_name, index=False)
    print(f"{output_name} berhasil disimpan")

Output_Part2.csv berhasil disimpan
Output_Part4.csv berhasil disimpan
Output_Part5.csv berhasil disimpan
Output_Part6.csv berhasil disimpan

In [18]:
for part, df in concat_results.items():
    print(f"\n{part}")
    display(df.head())

Part2

,idsbr,Query,Actual Place Name,Category,Rating,Address,Phone Number,Website,Latitude,Longitude,Status,Open Status,Operation Hours,Place,Validasi
0,25731945,"ELI PUJI RAHAYUNINGSIH, RUMDIS KORAMIL 0831 PR...",Koramil Tenggilis mejoyo,Kantor Pemerintah,Gagal,"îƒˆ Jl. Prapen Indah II No.4, Prapen, Kec. Tengg...",Gagal,Gagal,-7.3136604,112.7551733,Aktif,Gagal,Gagal,"ELI PUJI RAHAYUNINGSIH, RUMDIS KORAMIL 0831 PR...",Ditemukan
1,25955826,"AMANDA SEPTIANA PUTRI, MANUKAN PENI 2 BLOK 14 ...",Jl. Manukan Peni No.2 6,Tidak ada ulasan,Gagal,Kec. Tandes,Gagal,Gagal,-7.2612785,112.668609,Aktif,Gagal,Gagal,"AMANDA SEPTIANA PUTRI, MANUKAN PENI 2 BLOK 14 ...",Ditemukan
2,25955826,"AMANDA SEPTIANA PUTRI, MANUKAN PENI 2 BLOK 14 ...",Jl. Manukan Peni II No.14b,Tidak ada ulasan,Gagal,Kec. Tandes,Gagal,Gagal,-7.2621602,112.6685692,Aktif,Gagal,Gagal,"AMANDA SEPTIANA PUTRI, MANUKAN PENI 2 BLOK 14 ...",Tidak Ditemukan
3,26038569,"MURYANTI, JL. KUPANG PANJAAN 4/39-A",SMP Negeri 10 Surabaya,Tidak ada ulasan,Gagal,Â· Jl. Kupang Panjaan V,Gagal,Gagal,-7.2779834,112.7324481,Aktif,Tutup,Tutup Â· Buka Sab pukul 06.30 Â· Tutup Â· Buka Sa...,"MURYANTI, JL. KUPANG PANJAAN 4/39-A",Ditemukan
4,26038569,"MURYANTI, JL. KUPANG PANJAAN 4/39-A",Kantor Regional II BKN Surabaya,Kantor Pemerintah,"4,4",Â· Jl. Letjend. S. Parman No.6,(031) 8531038,Gagal,-7.3640145,112.7287675,Aktif,Tutup,Tutup Â· Buka Sen pukul 08.00 Â· Tutup Â· Buka Se...,"MURYANTI, JL. KUPANG PANJAAN 4/39-A",Tidak Ditemukan

Part4

,idsbr,Query,Actual Place Name,Category,Rating,Address,Phone Number,Website,Latitude,Longitude,Status,Open Status,Operation Hours,Place,Validasi
0,96895691,"SKA KONSULTAN PT, Gg. V No.23, Tambak Wedi, Ke...","Jasa Sewa & Pembuatan SKK, SKA, SKT Surabaya",Home builder,5.0,Â· Jl. Dupak Rukun No.114,0812-3125-4488,Gagal,-7.2499363,112.7100402,Aktif,Open 24 hours,Open 24 hours Â· Open 24 hours,"SKA KONSULTAN PT, Gg. V No.23, Tambak Wedi, Ke...",Ditemukan
1,96895691,"SKA KONSULTAN PT, Gg. V No.23, Tambak Wedi, Ke...","Parigraha Konsultan, PT",Building consultant,4.3,"Â· Ruko Manyar Indah, Jl. Ngagel Jaya Sel. Blok...",(031) 5675930,Gagal,-7.2940991,112.7610336,Aktif,Closed,Closed Â· Opens 9.00â€¯am Mon Â· Closed Â· Opens 9....,"SKA KONSULTAN PT, Gg. V No.23, Tambak Wedi, Ke...",Tidak Ditemukan
2,96895691,"SKA KONSULTAN PT, Gg. V No.23, Tambak Wedi, Ke...",INKINDO Jawa Timur,Business development service,4.5,Â· Jl. Rungkut Asri Utara No.VII / 7,(031) 8702310,Gagal,-7.323924,112.7727691,Aktif,Closed,Closed Â· Opens 8.00â€¯am Mon Â· Closed Â· Opens 8....,"SKA KONSULTAN PT, Gg. V No.23, Tambak Wedi, Ke...",Tidak Ditemukan
3,96895691,"SKA KONSULTAN PT, Gg. V No.23, Tambak Wedi, Ke...",Jasa Pembuatan dokumen CoO/e-SKA Prov. Jatim,Corporate office,5.0,"Â· JL. Pisang Blok H, Perumnas Jl. Sumput Asri ...",0851-0013-3081,Gagal,-7.2772886,112.5788429,Aktif,Gagal,Gagal,"SKA KONSULTAN PT, Gg. V No.23, Tambak Wedi, Ke...",Tidak Ditemukan
4,96895691,"SKA KONSULTAN PT, Gg. V No.23, Tambak Wedi, Ke...",PT. SKA,No reviews,No reviews,No reviews,Gagal,Gagal,-7.2431501,112.769466,Tutup Permanen,Permanently closed,Gagal,"SKA KONSULTAN PT, Gg. V No.23, Tambak Wedi, Ke...",Tidak Ditemukan

Part5

,idsbr,Query,Actual Place Name,Category,Rating,Address,Phone Number,Website,Latitude,Longitude,Status,Open Status,Operation Hours,Place,Validasi
0,6199280,"PUNCAK PANGAN ABADI, JL. NAMBANGAN 41",PT. Berkat Pangan Abadi,Kantor Perusahaan,"4,7","îƒˆ Jl. Margomulyo Indah No.31A, Buntaran, Kec. ...",Gagal,https://ptbpa.co.id/,-7.2479121,112.6706564,Aktif,Â· Buka Sen pukul 08.00,Gagal,"PUNCAK PANGAN ABADI, JL. NAMBANGAN 41",Ditemukan
1,6199289,"SINKO PRIMA ALLOY, PERGUDANGAN OSOWILANGUN PER...",PT. SINKO PRIMA ALLOY,Produsen,"4,6","îƒˆ Pergudangan Osowilangun Permai, Blok E8, Tam...",Gagal,http://elitech.id/,-7.2246417,112.6507985,Aktif,Â· Buka Sen pukul 08.00,Gagal,"SINKO PRIMA ALLOY, PERGUDANGAN OSOWILANGUN PER...",Ditemukan
2,6199354,"ARTA TRI GUNA, UD, JL. DUKUH KUPANG BARAT NO. 22",Matahari Yudha Perkasa,Tukang Las,"4,1",Â· Jl. Raya Dukuh Kupang No.206,(031) 5677510,Gagal,-7.2883066,112.7138275,Aktif,Tutup,Tutup Â· Buka Sen pukul 08.00 Â· Tutup Â· Buka Se...,"ARTA TRI GUNA, UD, JL. DUKUH KUPANG BARAT NO. 22",Ditemukan
3,6199354,"ARTA TRI GUNA, UD, JL. DUKUH KUPANG BARAT NO. 22",PT. Sarana Indoguna Lestari,Pemasok Produk Makanan,"4,5",Â· Jl. Raya Lontar No.216,(031) 7534411,Gagal,-7.2843796,112.6702252,Aktif,Tutup,Tutup Â· Buka Sen pukul 08.00 Â· Tutup Â· Buka Se...,"ARTA TRI GUNA, UD, JL. DUKUH KUPANG BARAT NO. 22",Tidak Ditemukan
4,6200364,"REJEKI JAYA, UD, JL. RAYA MANUKAN KULON 60 BLO...",UD. Rejeki Jaya,Pabrikan mebel,"4,3","îƒˆ Pergudangan 60, Jl. Raya Manukan Kulon No.14...",Gagal,Gagal,-7.2542446,112.6656799,Aktif,Gagal,Gagal,"REJEKI JAYA, UD, JL. RAYA MANUKAN KULON 60 BLO...",Ditemukan

Part6

,idsbr,Query,Actual Place Name,Category,Rating,Address,Phone Number,Website,Latitude,Longitude,Status,Open Status,Operation Hours,Place,Validasi
0,44199339,"TRIMATRA MEGA SATYA, HR Muhammad Ruko Surya In...",PT Trimatra Mega Satya,Kantor Perusahaan,Gagal,"îƒˆ Jl. Permata Hr Muhaamad II No.50 Blok D, RT....",Gagal,Gagal,-7.2576579,112.6453145,Aktif,Gagal,Gagal,"TRIMATRA MEGA SATYA, HR Muhammad Ruko Surya In...",Ditemukan
1,44199841,"TIGA ANUGERAH MAKMUR, JL. PULO WONOKROMO NO. 2...",PT Anugerah Tiga Jaya(percetakan Offset Surabaya),Kantor Perusahaan,"4,2","Â· Jl. Bulak Banteng Kidul No.11, RT.002/RW.04",(031) 3710842,Gagal,-7.220809,112.7607729,Tutup,Â· Tutup pukul 16.00,Buka Â· Tutup pukul 16.00 Â· Buka Â· Tutup pukul ...,"TIGA ANUGERAH MAKMUR, JL. PULO WONOKROMO NO. 2...",Ditemukan
2,44199841,"TIGA ANUGERAH MAKMUR, JL. PULO WONOKROMO NO. 2...",PT Tiga Anugerah Prima,Tidak ada ulasan,Gagal,Gagal,(031) 99859211,Gagal,-7.3278962,112.7320181,Tutup,Â· Tutup pukul 17.00,Buka Â· Tutup pukul 17.00 Â· Buka Â· Tutup pukul ...,"TIGA ANUGERAH MAKMUR, JL. PULO WONOKROMO NO. 2...",Tidak Ditemukan
3,44199841,"TIGA ANUGERAH MAKMUR, JL. PULO WONOKROMO NO. 2...","PT. Tiga Mitra Surabaya | Jual Bata Ringan, Se...",Pemasok Bahan Bangunan,"4,9","Â· Ruko TCBD, Jl. Raya Klakah Rejo TR1/11",0812-3131-3222,Gagal,-7.255488,112.6484401,Tutup,Â· Tutup pukul 16.00,Buka Â· Tutup pukul 16.00 Â· Buka Â· Tutup pukul ...,"TIGA ANUGERAH MAKMUR, JL. PULO WONOKROMO NO. 2...",Tidak Ditemukan
4,44199987,"MOMENTUM BERTUMBUH INDONESIA, Jalan Sapudi No. 4",BERTUMBUH,Kantor Perusahaan,Gagal,"îƒˆ Jl. Sapudi No.4, Gubeng, Kec. Gubeng, Suraba...",Gagal,Gagal,-7.2735216,112.7425731,Aktif,Gagal,Gagal,"MOMENTUM BERTUMBUH INDONESIA, Jalan Sapudi No. 4",Ditemukan